*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
select
  {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.submit {
  padding: 10px 0px 10px 0px;
  color: white;
  background-color: #4bc970;
  font-size: 22px;
  text-align: center;
  border-radius: 5px;
  border-style: outset;
  width: 60%;
  margin: 2% 20% 2% 20%;
  border: 1px solid black;
  box-shadow: 1px 1px 20px darkgray;
}

.submit:hover, #back:hover {
  box-shadow: 2px 2px 5px black;
}

#back {
  padding: 12px 30px;
  background-color:#4bc970;
  font-size:20px;
  display:inline-block;
  border: 1px solid black;
  box-shadow: 1px 1px 20px darkgray;
}
fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}



@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}